$colorText: #fff;
$colorLink: #42b883;
$colorLinkHighlight: #42d392;
$colorBackground: #1a1a1a;
$colorDivider: rgba(84, 84, 84, .48);
$colorBorder: #fff;
$colorActive: #42b883;
$colorActiveHighlight: #42d392;
$colorDanger: #dc3545;
